In [278]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [279]:
list_num_of_rooms =[]
list_area=[]
list_floor=[]
list_address=[]
list_price_usd=[]
list_price_som=[]
list_out_of=[]

In [280]:
list_num_of_rooms

[]

In [281]:
for i in range(1,11):
    html_page=requests.get('https://www.house.kg/kupit-kvartiru?page={i}').content
    soup= BeautifulSoup(html_page,"lxml")
    vse_kvar=soup.find_all("div",class_="listing")
    for kvartira in vse_kvar:
        title = kvartira.find("p",class_="title").text.strip()
        title= title.split(",")
        price_usd = kvartira.find("div",class_="price").text
        price_som = kvartira.find("div",class_="price-addition").text
        address = kvartira.find("div",class_="address").text.strip()
        title_2 = title[2].replace(" этаж из "," / ")
        title_2 = title_2.split("/")
        list_area.append(float(title[1].replace(" м2","")))
        list_num_of_rooms.append(title[0].replace("-комн. кв.",""))
        list_floor.append(title_2[0])
        list_out_of.append(title_2[1])
        list_address.append(address)
        list_price_usd.append(int(price_usd.replace(" ","").replace("$","")))
        list_price_som.append(int(price_som.replace(" ","").replace("сом","")))

In [282]:
data = pd.DataFrame.from_dict(
    {'number of rooms': list_num_of_rooms, 
        'area (in m2)': list_area,
        'floor': list_floor,
         'out of floor' : list_out_of,
        'address': list_address,
        'price in USD': list_price_usd,
        'price in KGS': list_price_som

    })

In [283]:
data

,number of rooms,area (in m2),floor,out of floor,address,price in USD,price in KGS
0,1,48.00,5,10,"Бишкек, Магистраль, Ч. Айтматова/Масалиева",68000,5755520
1,3,130.00,3,12,"Бишкек, 7 м-н, Токомбаева 53/2",245000,20736800
2,3,105.00,4,16,"Бишкек, Магистраль, Асанбай, Сухэ-Батора",230000,19467200
3,3,115.00,4,6,"Бишкек, Старый аэропорт, Бакаева 132а/Ахумбаев...",157000,13288480
4,3,101.00,9,9,"Бишкек, Магистраль, Бакаева 197/1",145000,12272800
...,...,...,...,...,...,...,...
95,2,58.00,9,9,"Бишкек, Джал-23 м-н (Нижний Джал)",76000,6432640
96,2,65.69,6,16,"Бишкек, Гагарина, ул.Поваринская, мкр. Джал 33",66000,5586240
97,2,64.00,7,14,"Бишкек, Магистраль, Магистраль 23/12/Сухэ Батора",103500,8760240
98,1,33.00,2,2,"Бишкек, Свердловский район, Доевесная",36500,3089360
99,2,85.30,10,12,"Бишкек, Магистраль/Южная Магистраль",106587,9021524

In [284]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   number of rooms  100 non-null    object
 1   area (in m2)     100 non-null    float64
 2   floor            100 non-null    object
 3   out of floor     100 non-null    object
 4   address          100 non-null    object
 5   price in USD     100 non-null    int64
 6   price in KGS     100 non-null    int64
dtypes: float64(1), int64(2), object(4)
memory usage: 5.6+ KB