<div>
    <img src="https://cdn.theatlantic.com/thumbor/XgYtzdUk0Di1UKpIKRKkZwDIXck=/0x0:5000x2813/960x540/media/img/mt/2022/02/image_2/original.png" width="500"/>
</div>


---

## 0. Problem Statement

About Company:

**DataBank** - largest commercial bank of Kyrgyzstan by employees and clients.

#### Problem
You need to create a model that will accurately predict which of the employees can **leave**.

**Due to the fact that the data was collected for several years and by different people, there are differences and typos.**

Work well on them before modeling!!!

## 1. Data Cleaning and Preparation

In [224]:
import numpy as np
import pandas as pd 
df = pd.read_csv('empl_train.csv')
df_test = pd.read_csv('empl_test.csv')
df

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,Leave
0,Bachelors,2021,Bishkek,3,36,Male,No,0,0
1,Bachelors,2017,Osh,3,38,Male,Yes,5,0
2,Bachelors,2021,Osh,3,29,Female,No,1,1
3,Bachelors,2021,Osh,3,34,Male,No,5,0
4,Bachelors,2016,Bishkek,3,24,Male,No,2,0
...,...,...,...,...,...,...,...,...,...
3745,Bachelors,2020,Osh,3,33,Male,No,4,0
3746,Bachelors,2018,Osh,2,36,Female,No,5,1
3747,Bachelors,2018,Osh,3,28,Female,No,5,1
3748,Bachelors,2017,Osh,2,38,Female,No,0,0
3749,Masters,2017,other,3,26,Female,No,4,0

In [225]:
df['Gender'].unique()

array(['Male', 'Female', 'Женский', 'Мужской'], dtype=object)

In [226]:
df = df.drop(columns=(['Education', "City","JoiningYear"]))
df["Gender"].replace({"Female":0, "Male":1}, inplace=True)
df["EverBenched"].replace({"No":0, "Yes":1}, inplace=True)
df["Gender"].replace({"Женский":0, "Мужской":1}, inplace=True)
df = pd.get_dummies(df, columns=["PaymentTier"])
df = pd.get_dummies(df, columns=["ExperienceInCurrentDomain"])

df.head()

,Age,Gender,EverBenched,Leave,PaymentTier_1,PaymentTier_2,PaymentTier_3,ExperienceInCurrentDomain_0,ExperienceInCurrentDomain_1,ExperienceInCurrentDomain_2,ExperienceInCurrentDomain_3,ExperienceInCurrentDomain_4,ExperienceInCurrentDomain_5,ExperienceInCurrentDomain_6,ExperienceInCurrentDomain_7
0,36,1,0,0,0,0,1,1,0,0,0,0,0,0,0
1,38,1,1,0,0,0,1,0,0,0,0,0,1,0,0
2,29,0,0,1,0,0,1,0,1,0,0,0,0,0,0
3,34,1,0,0,0,0,1,0,0,0,0,0,1,0,0
4,24,1,0,0,0,0,1,0,0,1,0,0,0,0,0

In [227]:
X = df.copy()
y = X.pop("Leave")

In [228]:
from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)

## 2. Modeling (ML)
Build and compare performance of kNN, Logistic Regression, Decision Tree Classifier and Random Forest Classifier models.

In [229]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
from sklearn.ensemble import RandomForestClassifier

#LOGISTICREGRESSION

logi = LogisticRegression()
logi.fit(X_train,y_train)
logis = logi.score(X_train,y_train)
print("LOGISTIC REGRESSION:",logis)

#DECISIONTREE

dec = DecisionTreeClassifier(max_depth =9, random_state=42)
dec.fit(X_train, y_train)
dectree = dec.score(X_train, y_train)
print("DECITIONTREE:", dectree)

#RANDOMFOREST
rf = RandomForestClassifier(n_estimators = 100)
rf.fit(X_train,y_train)
randfor = rf.score(X_train,y_train)
print("RANDOM FOREST:", randfor)

C:\Users\Almaz\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LOGISTIC REGRESSION: 0.7126666666666667
DECITIONTREE: 0.7423333333333333
RANDOM FOREST: 0.7553333333333333

## TEST DATA PREPARATION

In [230]:
df_test = df_test.drop(columns=(['Education', "City","JoiningYear"]))
df_test["Gender"].replace({"Female":0, "Male":1}, inplace=True)
df_test["EverBenched"].replace({"No":0, "Yes":1}, inplace=True)
df_test["Gender"].replace({"Женский":0, "Мужской":1}, inplace=True)
df_test = pd.get_dummies(df_test, columns=["PaymentTier"])
df_test = pd.get_dummies(df_test, columns=["ExperienceInCurrentDomain"])

## 3. Test Data Prediction

Prepare Test data in the same way as train. Make a predictions using your best model and save them as `csv` file. **Upload both `ipynb` and `csv` files**

In [231]:
#LOGISTICREGRESSION

logistt = logi.score(X_test,y_test)
print("LOGISTIC REGRESSION:",logistt)

#DECISIONTREE


dectreett = dec.score(X_test, y_test)
print("DECITIONTREE:", dectreett)

#RANDOMFOREST

randfortt = rf.score(X_test,y_test)
print("RANDOM FOREST:", randfortt)

LOGISTIC REGRESSION: 0.72
DECITIONTREE: 0.7013333333333334
RANDOM FOREST: 0.7

In [232]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [233]:
y_test_pred = knn.predict(X_train)

knn.predict(X_train)
knn.score(X_train , y_train)

0.7273333333333334

In [234]:
# make predictions
y_pred = knn.predict(df_test)

# create dataframe from predictions array
df_predictions = pd.DataFrame({
    'my_prediction': y_pred
})


# save dataframe as csv file
df_predictions.to_csv('Almaz Akzholtoev.csv', index=False)

In [212]:
df_test

,Age,Gender,EverBenched,JoiningYear_2016,JoiningYear_2017,JoiningYear_2018,JoiningYear_2019,JoiningYear_2020,JoiningYear_2021,JoiningYear_2022,...,PaymentTier_2,PaymentTier_3,ExperienceInCurrentDomain_0,ExperienceInCurrentDomain_1,ExperienceInCurrentDomain_2,ExperienceInCurrentDomain_3,ExperienceInCurrentDomain_4,ExperienceInCurrentDomain_5,ExperienceInCurrentDomain_6,ExperienceInCurrentDomain_7
0,25,0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,1,0,0,0,0
1,24,1,0,0,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,0
2,36,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
3,35,0,0,0,0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
4,26,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898,29,1,0,0,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,0,0
899,28,1,0,0,0,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,0
900,24,1,0,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
901,27,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
902,27,1,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0